
body{
margin:0;
padding:0;
font:76% tahoma,verdana,sans-serif;
background:#e6e6e6 url(../images/bodybg.png) repeat-x;
color:#333;
text-align:center;
}

a{
text-decoration:none;
color:#269;
font-weight:bold;
}

p{
margin:0 0 15px 0;
line-height:1.5em;
}

h1,h2,h3,h4{
margin:0;
padding:0;
font-weight:normal;
}

h1{
font-size:3.2em;
letter-spacing:-3px;
color:#567;
margin:12px 0 5px 20px;
}

h1 a:hover{
text-decoration:none;
}

h2{
font-size:1.8em;
letter-spacing:-1px;
margin:-10px 0 0 50px;
color:#000;
}

h3{
color: #555;
font-size:1.4em;
margin:1em 0 0.5em 0.5em;
}

h4{
font-size:1.2em;
font-weight:bold;
}

#container{
width:92%;
min-width:700px;
padding:0 20px;
margin:0 auto;
background:#f0f0f0 url(../images/contentbg.png) repeat-x;
color:#333;
text-align:left;
border-left:1px solid #eef;
border-right:1px solid #eef;
}

#sitetitle{
float:left;
height:100px;
width: 42%;
color: #333;
}

#sitetitle a{
color:#567;
font-weight:normal;
}

#sitetitle a:hover{
color:#269;
}

#menu{
height:71px;
padding-top:35px;
text-align: right;
}

#menu a{
margin:0;
height:100px;
padding:35px 6px 41px 6px;
font-size:1.6em;
font-weight:normal;
letter-spacing:-1px;
color: #888;
}


#hello{
    /*width:20%;*/
    /*float: left;*/
text-align: right;
font-size:1.6em;
color: #2e4056;
margin-bottom:10px;
margin-top:10px;
}


#menu a:hover{
color:#269;
text-decoration:none;
background: #fff url(../images/menuhover.png) repeat-x;
padding:35px 5px 41px 5px;
border-left: 1px solid #eee;
border-right: 1px solid #eee;
}

#content{
/*margin-top:30px;*/
width:100%;
clear:both;
}

#content h2{
margin:0 0 10px 0;
color:#555;
border-bottom:2px solid #abb;
}

#content h2 a{
color:#555;
font-weight:normal;
}

#content h2 a:hover{
color:#269;
text-decoration:none;
background:none;
}

#content p{
margin:0 0.5em 1.2em 0.5em;
}

#left{
    width:68%;
    float:left;
}

#right{
margin-left:70%;
margin-top:-15px;
}

#right h2{
margin:0 0 8px 0;
padding:12px 0 0 0;
font-size:1.6em;
}

#footer{
clear:both;
padding:10px 0 12px 24px;
text-align:left;
color:#888;
}

#footer a{
color:#888;
font-weight:normal;
}

#footer span{
color:#aaa;
font-size:2em;
letter-spacing:-2px;
}

.entry{
position:relative;
margin:0 0 20px 0;
border:2px solid #fff;
background:#eee url(../images/entrybg.png) repeat-x;
color:#333;
padding:10px 10px 0 10px;
}

.entry a:hover, .intro a:hover{
text-decoration:none;
padding-bottom:2px;
}

.link{
color:#269;
display:block;
margin:4px 0 0 0;
padding:2px 1em;
}

.link:hover{
color:#48b;
text-decoration:none;
}


.meta{
clear:both;
border-top: 2px solid #ccc;
padding: 5px 1px 0 0;
margin:10px 0 0 0;
text-align:right;
font-size:0.9em;
color: #567;
}

.pagenav{
color: #888;
text-align:center;
}


.subcontainer {
width:98%;
}

.rightsub{
float:left;
width:45%;
padding:0;
}

.rightsub2{
margin-left:50%;
padding:0;
}

.date{
display:block;
float:left;
font-weight:bold;
}

.right{
text-align:right;
}

.center{
text-align:center;
}

.clear{
clear:both;
}

.hide{
display:none;
}

.page_n{
        text-align: center;
        
}
.menumob{
    display: none;
}
.icon-menumob{
    display: none;
}

@media (max-width: 1000px) {
    #left{
        width: 100%;
        float:left;
    }
    .date{
        font-size: 2.3em;
    }
    #hello {
    font-size: 2.0em;
    }
    #right {
    margin-left: 0%;
    }
    #right h2 {
    font-size: 2.6em;
    }
    #right .intro{
            font-size: 1em;
    }
    .subcontainer .link{
            font-size: 3em;
    }
    #footer span {
    font-size: 1em;
    }
    h1 {
    font-size: 5.2em;
    }
    #sitetitle h2 {
    display: none;
    }
    #menu{
        display: none;
    }
    .icon-menumob{
        display: block;
    }
    .menumob{
        display: block;
    }    
    #sitetitle{
        float: right;
    text-align: right;
    }
}
/* menumob */

.menumob {
  background: #555 url('images/menumob-bg.jpg') repeat left top;
  left: -1000px;
  height: 100%;
  position: fixed;  
  padding-right: 20px;
  min-width: 250px;
  z-index: 100;
}

.menumob ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menumob li {
  border-bottom: 1px solid #555;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 26px;
}

.menumob li:hover {
  cursor: pointer;
  background-color: #555;
  background: #444;
  }

.menumob a {
/*  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;*/
  margin: 0;
    height: 100px;
    padding: 35px 6px 41px 6px;
    font-size: 5.0em;
    font-weight: normal;
    letter-spacing: -1px;
    color: #888;
}

.menumob  a:active{
color:#269;
text-decoration:none;
padding:35px 5px 41px 5px;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.icon-menumob {
  color: #2e4056;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
      font-size: 4em;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  float: left;
}

.icon-menumob img {
  margin-right: 5px;
  height: 41px;
    width: 41px;
}
